<% content_for :title do %>
 <title>Monolist</title>
<% end %>
<% content_for :description do %>
  <meta content="素敵なモノと出会う場所" name="description">
<% end %>
<% content_for :keywords do %>
  <meta content="Monolist" name="keywords">
<% end %>


<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>素敵なモノと出会う場所</h1>
      <%= link_to 'モノリストを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>